<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="PluginDependencies">
        <!-- Java/Spring Development -->
        <plugin id="com.intellij.spring.boot" />
        <plugin id="com.intellij.spring.mvc" />
        <plugin id="com.intellij.lombok" />
        <plugin id="com.intellij.database" />
        <plugin id="com.intellij.java" />

        <!-- Frontend Development -->
        <plugin id="com.intellij.lang.javascript" />
        <plugin id="org.jetbrains.plugins.typescript" />
        <plugin id="com.intellij.react" />
        <plugin id="com.intellij.css" />
        <plugin id="org.jetbrains.plugins.nodejs" />

        <!-- DevOps & Tools -->
        <plugin id="com.intellij.docker" />
        <plugin id="Git4Idea" />
        <plugin id="GitHub" />
        <plugin id="org.jetbrains.plugins.terminal" />
        <plugin id="org.jetbrains.plugins.yaml" />
        <plugin id="org.intellij.plugins.markdown" />
        <plugin id="com.shuzijun.markdown-editor" />

        <!-- Code Quality -->
        <plugin id="com.intellij.sonarlint" />
        <plugin id="com.intellij.checkstyle-idea" />
        <plugin id="com.intellij.properties" />

        <!-- Testing -->
        <plugin id="com.intellij.junit" />
        <plugin id="org.jetbrains.plugins.testng" />

        <!-- Build Tools -->
        <plugin id="org.jetbrains.idea.maven" />

        <!-- Productivity -->
        <plugin id="com.intellij.tasks" />
        <plugin id="com.intellij.settings-repository" />

        <!-- Recommended Extensions -->
        <plugin id="com.intellij.rainbow.brackets" />
        <plugin id="com.github.git-commit-id" />
        <plugin id="com.wix.ide.string.manipulation" />
        <plugin id="com.github.shalupov.idea.keypromoterx" />
        <plugin id="com.intellij.reactivestreams" />
    </component>
</project>